.h {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.-h {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.v {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.-v {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.h._,
.-h._ {
    flex-direction: row-reverse;
}

.v._,
.-v._ {
    flex-direction: column-reverse;
}

/* *************************************************************************************************************************** */
.h.c,
.-h.c,
.v.c,
.-v.c,
.h.-c,
.v.-c {
    justify-content: center;
    align-items: center;
}

.h.t,
.h.-t,
.v.l,
.v.-l {
    justify-content: center;
    align-items: flex-start;
}

.v.t,
.v.-t {
    justify-content: flex-start;
    align-items: center;
}

.h.tl,
.h.-tl,
.v.tl,
.v.-tl {
    justify-content: flex-start;
    align-items: flex-start;
}

.v.tr,
.v.-tr,
.h.bl,
.h.-bl {
    justify-content: flex-start;
    align-items: flex-end;
}

.h.tr,
.h.-tr,
.v.bl,
.v.-bl {
    justify-content: flex-end;
    align-items: flex-start;
}

.h.l,
.h.-l {
    justify-content: flex-start;
    align-items: center;
}

.h.r,
.h.-r,
.v.b,
.v.-b {
    justify-content: flex-end;
    align-items: center;
}

.h.b,
.h.-b,
.v.r,
.v.-r {
    justify-content: center;
    align-items: flex-end;
}

.h.br,
.h.-br,
.v.br,
.v.-br {
    justify-content: flex-end;
    align-items: flex-end;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.h.o,
.v.o {
    justify-content: space-around;
    align-items: center;
}

.h.o.t,
.h.o.t-,
.v.o.l,
.v.o.l-,
    {
    justify-content: space-around;
    align-items: flex-start;
}

.h.o.b,
.h.o.-b,
.v.o.r,
.v.o.-r,
    {
    justify-content: space-around;
    align-items: flex-end;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.h.-c,
.h.-l,
.h.-t,
.h.-r,
.h.-b,
.h.-tl,
.h.-tr,
.h.-bl,
.h.-br,
.v.-c,
.v.-l,
.v.-t,
.v.-r,
.v.-b,
.v.-tl,
.v.-tr,
.v.-bl,
.v.-br {
    flex-wrap: wrap;
}

.h.-c,
.h.-l,
.h.-r,
.v.-c,
.v.-t,
.v.-b {
    align-content: center;
}

.h.-t,
.h.-tl,
.h.-tr,
.v.-l,
.v.-tl,
.v.-bl {
    align-content: flex-start;
}

.h.-b,
.h.-bl,
.h.-br,
.v.-r,
.v.-tr,
.v.-br {
    align-content: flex-end;
}

/* //////////////////////////////// */
.h._.-l,
.h._.-tl,
.v._.-t,
.v._.-tl,
.h._.-bl,
.v._.-tr {
    justify-content: flex-end;
}

.h._.-r,
.h._.-tr,
.h._.-br,
.v._.-b,
.v._.-bl,
.v._.-br {
    justify-content: flex-start;
}

/* //////////////////////////////// */
/* scroll */
.-h.s {
    overflow-x: auto;
}

.h.s {
    overflow-y: auto;
}

.v.s,
.-v.s {
    overflow-x: hidden;
    overflow-y: auto;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.h.a,
.v.a {
    justify-content: space-between;
    align-items: center;
}

.h.a.t,
.h.a.-t,
.v.a.l,
.v.a.-l,
    {
    justify-content: space-between;
    align-items: flex-start;
}

.h.a.b,
.h.a.-b,
.v.a.r,
.v.a.-r,
    {
    justify-content: space-between;
    align-items: flex-end;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
.h.e,
.v.e {
    justify-content: space-evenly;
    align-items: center;
}

.h.e.t,
.h.e.-t,
.v.e.l,
.v.e.-l {
    justify-content: space-evenly;
    align-items: flex-start;
}

.h.e.b,
.h.e.-b,
.v.e.r,
.v.e.-r {
    justify-content: space-evenly;
    align-items: flex-end;
}